#sidebar {
    background-color: #171717;
}

.list-group-item[aria-expanded="true"] {
    background-color: black !important;
    border-color: #aed248;

}

// .list-group-item.active:hover {
//     background-color: #aed248 !important;
//     border-color: #aed248 !important;
// }

.list-group-item.active,
.list-group-item.active:hover {
    background-color: #252525 !important;
    border: none !important;
}

.white {
    color: #dddddd;
}

.dataTables_wrapper {
    width: 100%;

    // table {
        // background: #aed248;
    // }
}

#title{
    text-transform: capitalize;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.grid {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #aaaaaa;
    text-align: center;
    width: 30%;
    height: 100px;
    padding: 30px;
    margin: 15px;
    font-family: cursive;
    transition: 0.3s;
}

.grid:hover {
    background-color: black;
    color: white;
}

#mouse {
    cursor: pointer;
}