#sidebar {
  background-color: #171717;
}

.list-group-item[aria-expanded="true"] {
  background-color: black !important;
  border-color: #aed248;
}

.list-group-item.active,
.list-group-item.active:hover {
  background-color: #252525 !important;
  border: none !important;
}

.white {
  color: #dddddd;
}

.dataTables_wrapper {
  width: 100%;
}

.title {
  text-transform: capitalize;
}

.btnPagination {
  margin-left: 1%;
  margin-right: 1%;
}

p{
  font-size: 2vh;
}

h1{
  font-size: 5vh;
  color: #1379f5;
}

small{
  font-size: 1.5vh;
}

.abc {
  text-transform: uppercase;
}

li{
  font-size: 2vh;
}

.breadcrumb-item{
  text-transform: capitalize;
}

.content{
  text-indent: 3%;
}

.read-more{
  font-weight: bold;
}