a{
  text-decoration: none;
  color: #5e5e5e;
}
p{
  font-size: 2vh;
}

small{
  font-size: 1.75vh;
  color: #9b9b9b;
}

li{
  font-size: 2vh;
}

time{
  font-size: 0.5vh;
  color: #9b9b9b;
}
#sidebar {
  background-color: #171717;
}


#post-title{
  font-size: 3.5vh;
  font-weight: normal;
  color: #0098D7;
  text-transform: uppercase;
}

#mainTitle {
  text-transform: capitalize;
  color: #0098D7;
  font-size: 4vh;
}

#title a{
  text-decoration: none;
  color: #5e5e5e;
  font-size: 2.5vh;
  text-transform: capitalize;
}

.title{
  color: #0098D7;
  /* font-size: 4vh; */
  text-transform: capitalize;
}

.list-group-item[aria-expanded="true"] {
  background-color: black !important;
  border-color: #aed248;
}

.list-group-item.active,
.list-group-item.active:hover {
  background-color: #252525 !important;
  border: none !important;
}

.white {
  color: #dddddd;
}

.dataTables_wrapper {
  width: 100%;
}

.read-more:hover{
  color: #f48b31;
}

.read-more{
  color: #0098D7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.75vh;
}

.btnPagination {
  margin-left: 1%;
  margin-right: 1%;
}

.abc {
  text-transform: uppercase;
}

.breadcrumb-item{
  text-transform: capitalize;
}

.content{
  text-indent: 3%;
}

.pagination-item{
  margin: 0px;
  padding: 0px;
  color: white;
}

.active{
  color: #0098D7 !important;
}

.related-title{
  text-transform: uppercase;
}

.related-content li::before {
  content: "\2022";
  color: #0098D7;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.related-content{
  text-transform: capitalize;
  font-size: 2.25vh;
}

.photo_desc{
  font-style: italic;
}

input[type="submit"].active {
  
  background-color: #dddddd;
  border: #9b9b9b;
}

input[type="submit"].page-item{
  /* border: #9b9b9b; */
  height: auto;
  padding: 0.75vh;
  line-height: 0.75vh;
}

@media (min-width: 575.98px) { 
  .cover-img{
    height: 17vw;
    overflow: hidden;
    border: #8f8f8f 0.75px solid;
  }
}

@media (min-width: 767.99px) {
  .cover-img{
    height: 12vw;
    overflow: hidden;
    border: #8f8f8f 0.75px solid;
  }
}
